@use '../constant.scss' as *;

#contact {
    color: $color-text-primary;

    path {
        fill: $color-text-primary;
        stroke: $color-text-primary;
    }

    #location-middle {
        stroke: $color-background;
    }
}

#rm-contactus-wrapper {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;

    a {
        color: $color-text-primary;
    }
    a:hover {
        text-decoration: underline;
        color: $secondaryText;
    }

    #rm-contactus-folder-top {
        border-radius: 0.5em 0.5em 0 0;
        background-color: $color-background;
        height: 2em;
        width: 50%;
        clip-path: polygon(10% 0, 0 0, 100% 0, 100% 0, 0 0, 90% 0, 100% 100%, 0 100%)
    }

    // #rm-contactus-headertxt {
    //     // background-color: $folderColor;
    //     // width: 100%;
    // }

    #rm-contactus-items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    #rm-contactus-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-background;

        padding: 1em;
        width: 100%;
        border-radius: 1em 1em 0 0;


        #rm-contactus-item {
            display: flex;
            flex-direction: row;
            height: 2em;

            #rm-contactus-item-value,
            #rm-contactus-item-icon {
                display: flex;
                align-items: center;
                margin-right: 1em;
            }
        }

    }
}

;