@use '../constant.scss' as *;

#rm-popupmenu-wrapper {
    position: none;
    top: 100%;
    right: 0.5em;
    background: $color-off-white;
    width: 50%;
    border: 1px solid #ccc;
    box-shadow: 0 4px 12px $color-dark-stone;
    z-index: 1000;
    animation: slideDown 0.2s ease-out;
    transform-origin: top;
}

#rm-popupmenu-list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    #rm-popupmenu-list-item {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        // width: 100%;
        height: 5vh;
        padding: 0.5em;
        // border-bottom: 1px solid $color-dark-stone;
    }

    #rm-popupmenu-list-item:hover {
        background-color: $color-background;
        color: $color-text-primary;
    }

    #rm-popupmenu-list-item:last-child {
        border-bottom: none;
    }
    
}

@media (max-width: $bp-tablet) {
    #rm-popupmenu-wrapper {
        display: absolute;
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}