@use '../constant.scss' as *;

#rm-popupmenu-wrapper {
    position: none;
    top: 100%;
    right: 0.5em;
    background: $color-off-white;
    width: 50%;
    border-radius: 1em;
    box-shadow: 0 4px 12px $color-dark-stone;
    z-index: 1000;

    animation: slideDown 0.2s ease-out;
    transform-origin: top;
}

#rm-popupmenu-list-container {
    #rm-popupmenu-list-item {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5vh;
        margin: 0.5em;
        border-radius: 0.5em;
    }

    #rm-popupmenu-list-item:hover {
        background-color: rgba($color-dark-stone, 0.5);
        color: $color-text-primary;
    }

    #rm-popupmenu-list-item:last-child {
        border-bottom: none;
    }
    
}

@media (max-width: $bp-tablet) {
    #rm-popupmenu-wrapper {
        display: absolute;
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}