@use '../constant.scss' as *;

#rm-about-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2em;
    padding: 1em;
    box-sizing: border-box;
    align-items: start;

    #rm-about-img {
        width: 20%;
        border-radius: 1em;
    }

    #rm-about-content {
        display: flex;
        flex-direction: column;
        padding-left: 1em;
    }

    #rm-about-header {
        text-align: right;
        margin: 0;
    }

    #rm-about-desc {
        text-align: justify;
        margin: 0;
    }
}

@media(max-width: $bp-tablet) {
    #rm-about-wrapper {
        flex-direction: column-reverse;
        align-items: center;

        #rm-about-img {
            width: 80%;
            margin-top: 1em;
        }
    }
}

@media (max-width: $bp-laptop) {
    #rm-about-wrapper {
        align-items: center;
    }
}

@media (max-width: $bp-desktop) {
    #rm-about-wrapper {
        #rm-about-img {
            width: 30%;
        }
    }
}

