#textfield-component-wrapper
    display: flex
    flex-direction: column
    justify-content: center

#textfield-component-input
    border: none
    color: red
    // align can be updated through props
    text-align: center